<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.v2.mapper.auto.CourseMapper">
  <resultMap id="BaseResultMap" type="com.fc.v2.model.auto.Course">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="week" jdbcType="INTEGER" property="week" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="description_img" jdbcType="VARCHAR" property="descriptionImg" />
    <result column="teacher_id" jdbcType="BIGINT" property="teacherId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
	  	  	      	id,
       	  	      	name,
       	  	      	grade,
       	  	      	week,
       	  	      	img_url,
       	  	      	introduction,
       	  	      	description,
       	  	      	description_img,
       	  	      	teacher_id,
       	  	      	create_time,
       	  	    	  	update_time
       	  	
  </sql>
  
  <select id="selectByExample" parameterType="com.fc.v2.model.auto.CourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from course
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fc.v2.model.auto.CourseExample">
    delete from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.fc.v2.model.auto.Course">
    insert into course (
      	  	       id,
       	  	       name,
       	  	       grade,
       	  	       week,
       	  	       img_url,
       	  	       introduction,
       	  	       description,
       	  	       description_img,
       	  	       teacher_id,
       	  	       create_time,
       	  	    	  update_time
       	    )
    values (
	  	  	      	#{id,jdbcType=BIGINT},
       	  	      	#{name,jdbcType=VARCHAR},
       	  	      	#{grade,jdbcType=INTEGER},
       	  	      	#{week,jdbcType=INTEGER},
       	  	      	#{imgUrl,jdbcType=VARCHAR},
       	  	      	#{introduction,jdbcType=VARCHAR},
       	  	      	#{description,jdbcType=VARCHAR},
       	  	      	#{descriptionImg,jdbcType=VARCHAR},
       	  	      	#{teacherId,jdbcType=BIGINT},
       	  	      	#{createTime,jdbcType=TIMESTAMP},
       	  	    	  #{updateTime,jdbcType=TIMESTAMP}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.v2.model.auto.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="id != null">
        id,
      </if>
         
      <if test="name != null">
        name,
      </if>
         
      <if test="grade != null">
        grade,
      </if>
         
      <if test="week != null">
        week,
      </if>
         
      <if test="imgUrl != null">
        img_url,
      </if>
         
      <if test="introduction != null">
        introduction,
      </if>
         
      <if test="description != null">
        description,
      </if>
         
      <if test="descriptionImg != null">
        description_img,
      </if>
         
      <if test="teacherId != null">
        teacher_id,
      </if>
         
      <if test="createTime != null">
        create_time,
      </if>
         
      <if test="updateTime != null">
        update_time,
      </if>
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
          <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
          <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
          <if test="week != null">
        #{week,jdbcType=INTEGER},
      </if>
          <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
          <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
          <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
          <if test="descriptionImg != null">
        #{descriptionImg,jdbcType=VARCHAR},
      </if>
          <if test="teacherId != null">
        #{teacherId,jdbcType=BIGINT},
      </if>
          <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
          <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.v2.model.auto.CourseExample" resultType="java.lang.Long">
    select count(*) from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update course
    <set>
          <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
          <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
          <if test="record.grade != null">
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
          <if test="record.week != null">
        week = #{record.week,jdbcType=INTEGER},
      </if>
          <if test="record.imgUrl != null">
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
          <if test="record.introduction != null">
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
          <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
          <if test="record.descriptionImg != null">
        description_img = #{record.descriptionImg,jdbcType=VARCHAR},
      </if>
          <if test="record.teacherId != null">
        teacher_id = #{record.teacherId,jdbcType=BIGINT},
      </if>
          <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
          <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update course
    set
            	     	 
    	 id = #{record.id,jdbcType=BIGINT},
    	         	     	 
    	 name = #{record.name,jdbcType=VARCHAR},
    	         	     	 
    	 grade = #{record.grade,jdbcType=INTEGER},
    	         	     	 
    	 week = #{record.week,jdbcType=INTEGER},
    	         	     	 
    	 img_url = #{record.imgUrl,jdbcType=VARCHAR},
    	         	     	 
    	 introduction = #{record.introduction,jdbcType=VARCHAR},
    	         	     	 
    	 description = #{record.description,jdbcType=VARCHAR},
    	         	     	 
    	 description_img = #{record.descriptionImg,jdbcType=VARCHAR},
    	         	     	 
    	 teacher_id = #{record.teacherId,jdbcType=BIGINT},
    	         	     	 
    	 create_time = #{record.createTime,jdbcType=TIMESTAMP},
    	         	     	 
    	 update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    	         
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.fc.v2.model.auto.Course">
    update course
    <set>
                          
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
                      
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
                      
      <if test="week != null">
        week = #{week,jdbcType=INTEGER},
      </if>
                      
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
                      
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
                      
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
                      
      <if test="descriptionImg != null">
        description_img = #{descriptionImg,jdbcType=VARCHAR},
      </if>
                      
      <if test="teacherId != null">
        teacher_id = #{teacherId,jdbcType=BIGINT},
      </if>
                      
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
              </set>
    
    where 
            
    id = #{id,jdbcType=BIGINT}
                                                                                          
  </update>

      	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.fc.v2.model.auto.Course">
    update course
    set 
    		 		 	  	  
		name = #{name,jdbcType=VARCHAR},
	  	 		 	  	  
		grade = #{grade,jdbcType=INTEGER},
	  	 		 	  	  
		week = #{week,jdbcType=INTEGER},
	  	 		 	  	  
		img_url = #{imgUrl,jdbcType=VARCHAR},
	  	 		 	  	  
		introduction = #{introduction,jdbcType=VARCHAR},
	  	 		 	  	  
		description = #{description,jdbcType=VARCHAR},
	  	 		 	  	  
		description_img = #{descriptionImg,jdbcType=VARCHAR},
	  	 		 	  	  
		teacher_id = #{teacherId,jdbcType=BIGINT},
	  	 		 	  	  
		create_time = #{createTime,jdbcType=TIMESTAMP},
	  	 		 	  		
		update_time = #{updateTime,jdbcType=TIMESTAMP}
	  	 		
    where 
            
    id = #{id,jdbcType=BIGINT}
                                                                                            
  </update>
  
                                                           
</mapper>