<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.v2.mapper.auto.StudentMapper">
  <resultMap id="BaseResultMap" type="com.fc.v2.model.auto.Student">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="clazz" jdbcType="INTEGER" property="clazz" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
	  	  	      	id,
       	  	      	user_name,
       	  	      	name,
       	  	      	grade,
       	  	      	clazz,
       	  	      	avatar,
       	  	      	password,
       	  	      	last_login_time,
       	  	      	last_login_ip,
       	  	      	deleted,
       	  	      	create_time,
       	  	    	  	update_time
       	  	
  </sql>
  
  <select id="selectByExample" parameterType="com.fc.v2.model.auto.StudentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from student
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fc.v2.model.auto.StudentExample">
    delete from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.fc.v2.model.auto.Student">
    insert into student (
      	  	       id,
       	  	       user_name,
       	  	       name,
       	  	       grade,
       	  	       clazz,
       	  	       avatar,
       	  	       password,
       	  	       last_login_time,
       	  	       last_login_ip,
       	  	       deleted,
       	  	       create_time,
       	  	    	  update_time
       	    )
    values (
	  	  	      	#{id,jdbcType=BIGINT},
       	  	      	#{userName,jdbcType=VARCHAR},
       	  	      	#{name,jdbcType=VARCHAR},
       	  	      	#{grade,jdbcType=INTEGER},
       	  	      	#{clazz,jdbcType=INTEGER},
       	  	      	#{avatar,jdbcType=VARCHAR},
       	  	      	#{password,jdbcType=VARCHAR},
       	  	      	#{lastLoginTime,jdbcType=TIMESTAMP},
       	  	      	#{lastLoginIp,jdbcType=VARCHAR},
       	  	      	#{deleted,jdbcType=TINYINT},
       	  	      	#{createTime,jdbcType=TIMESTAMP},
       	  	    	  #{updateTime,jdbcType=TIMESTAMP}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.v2.model.auto.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="id != null">
        id,
      </if>
         
      <if test="userName != null">
        user_name,
      </if>
         
      <if test="name != null">
        name,
      </if>
         
      <if test="grade != null">
        grade,
      </if>
         
      <if test="clazz != null">
        clazz,
      </if>
         
      <if test="avatar != null">
        avatar,
      </if>
         
      <if test="password != null">
        password,
      </if>
         
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
         
      <if test="lastLoginIp != null">
        last_login_ip,
      </if>
         
      <if test="deleted != null">
        deleted,
      </if>
         
      <if test="createTime != null">
        create_time,
      </if>
         
      <if test="updateTime != null">
        update_time,
      </if>
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
          <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
          <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
          <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
          <if test="clazz != null">
        #{clazz,jdbcType=INTEGER},
      </if>
          <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
          <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
          <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
          <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
          <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
          <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
          <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.v2.model.auto.StudentExample" resultType="java.lang.Long">
    select count(*) from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

    <update id="updateByExampleSelective" parameterType="map">
    update student
    <set>
          <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
          <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
          <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
          <if test="record.grade != null">
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
          <if test="record.clazz != null">
        clazz = #{record.clazz,jdbcType=INTEGER},
      </if>
          <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
          <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
          <if test="record.lastLoginTime != null">
        last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
          <if test="record.lastLoginIp != null">
        last_login_ip = #{record.lastLoginIp,jdbcType=VARCHAR},
      </if>
          <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=TINYINT},
      </if>
          <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
          <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update student
    set
            	     	 
    	 id = #{record.id,jdbcType=BIGINT},
    	         	     	 
    	 user_name = #{record.userName,jdbcType=VARCHAR},
    	         	     	 
    	 name = #{record.name,jdbcType=VARCHAR},
    	         	     	 
    	 grade = #{record.grade,jdbcType=INTEGER},
    	         	     	 
    	 clazz = #{record.clazz,jdbcType=INTEGER},
    	         	     	 
    	 avatar = #{record.avatar,jdbcType=VARCHAR},
    	         	     	 
    	 password = #{record.password,jdbcType=VARCHAR},
    	         	     	 
    	 last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
    	         	     	 
    	 last_login_ip = #{record.lastLoginIp,jdbcType=VARCHAR},
    	         	     	 
    	 deleted = #{record.deleted,jdbcType=TINYINT},
    	         	     	 
    	 create_time = #{record.createTime,jdbcType=TIMESTAMP},
    	         	     	 
    	 update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    	         
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.fc.v2.model.auto.Student">
    update student
    <set>
                          
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
                      
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
                      
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
                      
      <if test="clazz != null">
        clazz = #{clazz,jdbcType=INTEGER},
      </if>
                      
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
                      
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
                      
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="lastLoginIp != null">
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
                      
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
                      
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
              </set>
    
    where 
            
    id = #{id,jdbcType=BIGINT}
                                                                                                  
  </update>

      	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.fc.v2.model.auto.Student">
    update student
    set 
    		 		 	  	  
		user_name = #{userName,jdbcType=VARCHAR},
	  	 		 	  	  
		name = #{name,jdbcType=VARCHAR},
	  	 		 	  	  
		grade = #{grade,jdbcType=INTEGER},
	  	 		 	  	  
		clazz = #{clazz,jdbcType=INTEGER},
	  	 		 	  	  
		avatar = #{avatar,jdbcType=VARCHAR},
	  	 		 	  	  
		password = #{password,jdbcType=VARCHAR},
	  	 		 	  	  
		last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
	  	 		 	  	  
		last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
	  	 		 	  	  
		deleted = #{deleted,jdbcType=TINYINT},
	  	 		 	  	  
		create_time = #{createTime,jdbcType=TIMESTAMP},
	  	 		 	  		
		update_time = #{updateTime,jdbcType=TIMESTAMP}
	  	 		
    where 
            
    id = #{id,jdbcType=BIGINT}
                                                                                                    
  </update>

  <select id="selectRegexpUsername" resultMap="BaseResultMap">
  select *
  from student
  <where>
    <if test="regexp!= null">
      user_name regexp #{regexp,jdbcType=VARCHAR}
    </if>
  </where>
  order by user_name DESC
  limit 1

  </select>


</mapper>